* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
	background-image:url('tv.jpg');
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
	color: red;
}

container{
    overflow: hidden;
    // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
    padding-top: 56.25%;
    position: relative;
}


#knopEEN{
      margin-left: 250px;
      width: 41px;
      size: contain;
}

#knopTWEE{
  margin-left: 300px;
  margin-top: -39px;
  width: 41px;
}

#knopDRIE{
  margin-left: 1093px;
  margin-top: -38px;
  height: 23px;
  width: 41px;
}

#knopVIER{
  margin-left: 1125px;
  margin-top: -23px;
  height: 23px;
  width: 41px;
}

#knopVijf{
  margin-left: 1153px;
  margin-top: -34px;
  width: 41px;
}


iframe {
	/* margin: 0 auto; */
	display:block;
	/* resize: both; */
	overflow: auto;
}
#content{
	margin: 0 auto;
	display:block;
  margin-top: 56px;

}

/* START SCROLL BAR */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

/* EINDE SCROLL BAR */
